* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto";
}

:root {
  --color-white: #ffffff;
  --color-dev: #4ab6e8;
  --color-test: #aa6fac;
  --color-prod: #e85498;
  --color-text: #898290;
  --color-pozitive: #00cc99;
  --color-negative: #fc440f;
}
.color-dev {
  background-color: var(--color-dev);
}
.color-test {
  background-color: var(--color-test);
}
.color-db {
  background-color: var(--color-prod);
}
.container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
