
.chart {
  width: 591px;
  height: 534px;
  padding: 13px 20px 20px 20px;
  box-shadow: 0px 2px 6px 0px rgba(34, 60, 80, 0.4);
  border-radius: 7px;
  position: relative;
}
.title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-text);
  margin-bottom: 50px;
}
.dots {
  font-size: 25px;
  color: var(--color-text);
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
}

.wrapper {
  width: 500px;
  height: 431px;
  display: grid;
  align-content: end;
  justify-self: center;
  position: relative;
}
.oval {
  padding: 5px;
  min-width: 48px;
  height: 24px;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--color-text);
  grid-template-columns: auto auto;
  position: relative;
  z-index: 999;
}
.oval__left {
  position: absolute;
  top: 0;
  left: 17%;
}
.oval__right {
  position: absolute;
  top: 0;
  left: 46%;
}
.oval__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: var(--color-white);
  padding-top: 1px;
}
.pozitive {
  background-color: var(--color-pozitive);
}
.negative {
  background-color: var(--color-negative);
}
.none {
  display: none;
}
.visible {
  display: inline;
  padding-top: 4px;
  margin-right: 2px;
}
.line-up {
  background-color: var(--color-text);
  height: 62px;
  width: 1px;
}
.line-up_dev {
  position: absolute;
  top: 3%;
  left: 8%;
}
.line-up_test {
  position: absolute;
  top: 3%;
  left: 38%;
  height: 75px;
  width: 1px;
}
.line-horizont {
  background-color: var(--color-text);
  height: 1px;
  width: 130px;
}
.line-horizont_dev-test {
  position: absolute;
  top: 3%;
  left: 8%;
}
.line-horizont_test-pord {
  position: absolute;
  top: 3%;
  left: 38%;
}
.line-down {
  background-color: var(--color-text);
  height: 92px;
  width: 1px;
}
.line-down_test {
  position: absolute;
  top: 3%;
  left: 34%;
}
.line-down_prod {
  position: absolute;
  top: 3%;
  left: 64%;
  height: 82px;
  width: 1px;
}
.arrow {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 1px;
  transform: rotate(90deg);
}
.arrow div {
  position: relative;
  top: 20px;
  width: 75px;
  height: 1px;
  background-color: var(--color-text);
  left: 0;
  display: block;
}
.arrow div::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: -2.2px;
  right: -2px;
  background-color: var(--color-text);
  transform: rotate(45deg);
}
.arrow div::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 2.2px;
  right: -2px;
  background-color: var(--color-text);
  transform: rotate(-45deg);
}
.arrow_test {
  position: absolute;
  top: 12.1%;
  left: 30%;
}
.arrow_prod {
  position: absolute;
  top: 12.1%;
  left: 60%;
}
.chart__box {
  display: grid;
  align-items: end;
  grid-template-columns: 80px 80px 80px 80px;
  grid-gap: 60px;
  margin: 0 auto;
}
.chart__text {
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
}
.rect {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 80px;
}
.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 11.72px;
  color: var(--color-text);
}
.rect__text {
  text-align: center;
  margin-bottom: 40px;
}

.rect__dev {
  border-radius: 10px 10px 0 0;
}

.rect__db {
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
}

.rect__norm {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 7px,
    var(--color-dev) 5px,
    var(--color-dev) 18px
  );
  border-radius: 10px;
  margin-bottom: 15px;
}
.text-norm {
  width: 48px;
  height: 24px;
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-text);
  display: grid;
  justify-content: center;
  align-content: center;
}
.chart__info {
  display: flex;
  justify-content: center;
}
.info__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 47px;
}
.info__box:last-child {
  margin-right: 0;
}
.info__square {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 9px;
}
.info__text {
  padding-top: 1px;
}
